<div class="d-flex" id="wrapper">

    <app-panel-informacion></app-panel-informacion>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <br>
        <br>
        <div class="container">
            <textarea [(ngModel)]="contenido" class="form-control" aria-label="With textarea" placeholder="Descripción"></textarea>
            <br>
            <button type="submit" class="btn btn-primary btn-block" (click) = "correrEntrada()">Correr</button>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    
</div>
<!-- /#wrapper -->