<div class="container">
    <div class="row pt-4">
        <h1 class="text-center">Modo Edición</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 pt-4">
            <div class="card border-primary">
                <img class="card-img-top p-2" src="../assets/images/modo/principiante.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Modo Principiante</h5>
                    <p class="card-text">Lorem fugiat deserunt excepteur ea.</p>
                    <a href="#" class="btn btn-primary btn-block">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 pt-4">
            <div class="card border-primary">
                <img class="card-img-top p-2" src="../assets/images/modo/intermedio.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Modo Intermedio</h5>
                    <p class="card-text">Lorem fugiat deserunt excepteur ea.</p>
                    <a href="#" class="btn btn-primary btn-block">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 pt-4">
            <div class="card border-primary">
                <img class="card-img-top p-2" src="../assets/images/modo/avanzado.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Modo Avanzado</h5>
                    <p class="card-text">Lorem fugiat deserunt excepteur ea.</p>
                    <a href="#" class="btn btn-primary btn-block">Ir</a>
                </div>
            </div>
        </div>
    </div>
</div>
